* {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $color_white;
  margin: 0;
  padding: 0;
  width: 100% !important;
  direction: rtl;
  font-family: "Vaziri", Arial, sans-serif;
}

a,
a:hover {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

@font-face {
  font-family: "Vaziri";
  src: url("../../fonts/Vazir.eot");
  src: url("../../fonts/Vazir.woff") format("woff");
}
